---
layout: default
---

{% assign cv = site.data.cv %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner" style="margin: 0 auto; max-width: 100%;">
    <div>{{ content }}</div>
    <div class="cv-grid">
      <div class="entries fixed">
        {% include cv/intro.html %}
        {% include cv/basics.html %}
      </div>
      <div class="entries work">
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
</main>